@import "tailwindcss";

:root {
  --background: #1E1F25;
  --backgroundFooter: rgba(30, 31, 37, 1);
  --color: #ADB3BF;
  --colorCard: #272A34;
  --colorall: #ffffff;
  --colorlogo: #1B70F1;
  --backgroundheader: #131517;
  --colorGreen: #06B470;
  --colorRed: #F74E2C;
  --colorGray: #ADB3BF;
}

@theme {
  /* Привязываем CSS-переменные к ключам темы Tailwind */
  --color-background: var(--background);
  --color-backgroundFooter: var(--backgroundFooter);
  --color-backgroundheader: var(--backgroundheader);
  --color-color: var(--color);
  --color-colorCard: var(--colorCard);
  --color-colorlogo: var(--colorlogo);
  --color-colorall: var( --colorall);
  --color-colorGreen: var( --colorGreen);
  --color-colorRed: var( --colorRed);
  --color-colorGray: var( --colorGray);
}